{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}add_gw_form{% endblock %}
{% block form_action %}{% url horizon:project:vpns:addgw vpn_id %}{% endblock %}

{% block modal-header %}Add Gateway{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
        {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description" %}:</h3>
    <p>{% trans "A Gateway is a (virtual) appliance bridging/internetworking between (virtual) networks" %}</p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Add Gateway" %}" />
  <a href="{% url horizon:project:vpns:index%}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
