{% extends 'base.html' %}
{% load i18n %}
{% block title %}VirtualProviderNetworks{% endblock %}

{% block page_header %}
{# {% url horizon:project:ipsec:index as refresh_link %} #}
  {# to make searchable false, just remove it from the include statement #}

{% block page_header2 %}
{% load i18n %}
  <div class='page-header'><h1 onload="initialize();"> Connectivity Dashboard </h1>


  </div>
{% endblock %}
{#  {% include "horizon/common/_page_header_gmaps.html" with title=_("Elastic WANs") refresh_link=refresh_link searchable="true" %} #}
{#  {% include "horizon/common/_page_header.html" with title=_("VPNs::eWANs") refresh_link=refresh_link searchable="true" %} #}
{% endblock page_header %}

{% block main %}
<!--  <a href="#" OnClick="initialize();" title="Show map">Show map</A>
   <a href="#" OnClick="animateCircle();" title="Connect">Connect</A> 
-->
  {{ table.render }}
{% endblock %}
