{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}create_port_form{% endblock %}
{% block form_action %}{% url horizon:project:ipsec:ports:create_ports params.elasticnet_id %}{% endblock %}

{% block modal-header %}Create Ports{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
        {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description" %}:</h3>
    <p>{% trans "Ports provide Layer 2 connectivity to instance interfaces." %}</p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Create Ports" %}" />
  <a href="{% url horizon:project:ipsec:ports:ports params.elasticnet_id %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
